WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress

#
# The below two variables enable debugging
#
WORDPRESS_DEBUG=true
WORDPRESS_CONFIG_EXTRA="define( 'WP_DEBUG_LOG', true );
    define( 'WP_DEBUG_DISPLAY', false );
    @ini_set( 'display_errors', 0 );
    define( 'SCRIPT_DEBUG', true );"

# Below is an example of the WORDPRESS_CONFIG_EXTRA for a multisite
# Set the DOMAIN_CURRENT_SITE with your primary domain
#
# WORDPRESS_CONFIG_EXTRA="define( 'WP_DEBUG_LOG', true );
#     define( 'WP_DEBUG_DISPLAY', false );
#     @ini_set( 'display_errors', 0 );
#     define( 'SCRIPT_DEBUG', true );
#     define( 'WP_ALLOW_MULTISITE', true );
#     define( 'MULTISITE', true );
#     define( 'SUBDOMAIN_INSTALL', true );
#     define( 'DOMAIN_CURRENT_SITE', 'testdomain.org' );
#     define( 'PATH_CURRENT_SITE', '/' );
#     define( 'SITE_ID_CURRENT_SITE', 1 );
#     define( 'BLOG_ID_CURRENT_SITE', 1 );"
